In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
raw_data=pd.read_csv('energy_data.csv')
raw_data.head()

,date,Appliances,lights,Temperature in Kitchen area,Humidity in kitchen area,Temperature in laundry room area,Humidity in living room area,Temperature in laundry room area.1,Humidity in office room,Temperature in office room,...,Temperature in parents room,Humidity in parents room,Temperature_out,Pressure_mm_hg,Humidity outside (from Chievres weather station),Windspeed,Visibility,Tdewpoint,Random Variable 1,Random Variable 2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [3]:
raw_data.drop(['date', 'lights'], axis=1, inplace=True)

In [4]:
raw_data.head()

,Appliances,Temperature in Kitchen area,Humidity in kitchen area,Temperature in laundry room area,Humidity in living room area,Temperature in laundry room area.1,Humidity in office room,Temperature in office room,Humidity in office room.1,Temperature in bathroom,...,Temperature in parents room,Humidity in parents room,Temperature_out,Pressure_mm_hg,Humidity outside (from Chievres weather station),Windspeed,Visibility,Tdewpoint,Random Variable 1,Random Variable 2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [16]:
from sklearn.model_selection import cross_validate
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()


normalised_df = pd.DataFrame(scaler.fit_transform(raw_data), columns=raw_data.columns)#normalizing the dataset

X=pd.DataFrame(normalised_df['Temperature in laundry room area'])
y=pd.DataFrame(normalised_df['Temperature outside the building (north side)'])

print(len(X), len(y))

19735 19735

In [18]:
from sklearn.model_selection import train_test_split
#splitting the data

X_train, X_test, y_train, y_test = train_test_split (X, y, test_size=0.3, random_state=42)
#X_train and Y_train are used to fit our classsifiers

clf=LinearRegression()
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [19]:
predicted_values=clf.predict(X_test)
print(predicted_values)

[[0.23928945]
 [0.46794238]
 [0.23108472]
 ...
 [0.3001772 ]
 [0.4297256 ]
 [0.3217686 ]]

In [20]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predicted_values)
round(mae, 2)

0.08

In [21]:
from sklearn.metrics import r2_score
r2_score = r2_score(y_test, predicted_values)
round(r2_score, 2)

0.64

In [23]:
rss = np.sum(np.square(y_test - predicted_values))
print('residual sum of squares: ', round(rss,2))

residual sum of squares:  Temperature outside the building (north side)    66.12
dtype: float64

In [24]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test, predicted_values)
rmse=np.sqrt(mean_squared_error(y_test, predicted_values))
print('the mean squared error is: ', round(mse, 3))
print('the root mean squared error is: ', round(rmse, 3))

the mean squared error is:  0.011
the root mean squared error is:  0.106

In [26]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, y_train)

Ridge(alpha=0.4, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [28]:
rmse=np.sqrt(mean_squared_error(y_test, predicted_values))
print(rmse)

0.10567064851347531

In [31]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, y_train)

Lasso(alpha=0.001, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [33]:
rmse=np.sqrt(mean_squared_error(y_test, predicted_values))
print(round(rmse,3))

0.106